/* Gilroy */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src:
    local("Gilroy Regular"),
    local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* end Gilroy */

/* Helvetica Neue */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.eot");
  src:
    local("HelveticaNeueBoldCondensed"),
    url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"),
    url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlackCondensed.eot");
  src:
    local("HelveticaNeueBlackCondensed"),
    url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"),
    url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* end Helvetica Neue */

/* HelveticaNeueCyr */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src:
    local("HelveticaNeueCyr Light"),
    local("HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src:
    local("HelveticaNeueCyr Medium"),
    local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* end HelveticaNeueCyr */
